<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding">
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="main-container1">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding" *ngIf="myAds?.length > 0">
        <div class="card" *ngFor="let ads of myAds | orderBy:'-postdate'">
          <div class="card-body no-padding" [routerLink]="['/pages/advertise/myadvertisementDetails', ads.id]">
            <div class="adsStatus" [style.background]="ads.adsStatus == 'pending' ? '#d39e00': ads.adsStatus == 'active'? '#28a745' : '#dc3545'">
              <span>{{ads.adsStatus == 'pending'?'Pending': ads.adsStatus == 'active'?'Active' : 'Close'}}</span>
            </div>
            <ion-slides pager="true" [options]="slideOpts">
              <div class="photosCount" *ngIf="ads.images.length == 0"><span><i
                    class="fa fa-camera"></i>{{ads.images.length}}</span></div>
              <ion-slide *ngIf="ads.images.length == 0">
                <img src="../../../../assets/images/image-not-available.jpg">
              </ion-slide>
              <ion-slide *ngIf="ads.images.length > 0">
                <img src='https://aklogical.com/api{{ads.images[0].path}}'>
              </ion-slide>
            </ion-slides>
            <div class="adsDetails">
              <div class="adsOwner">
                <span class="rupees_icon"><i class="fa fa-inr" aria-hidden="true"></i>
                </span><span class="amount"> {{ads.rentAmount}} </span><span class="month">/Month</span>
              </div>
              <!-- <div class="profilePicOwner">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </div> -->
              <div class="postDate"><span class="postDateTitle">Post On</span><span
                  class="postDateDetails">{{ads.postdate | date: 'dd-MMM-yyyy'}}</span>
              </div>
              <!-- <div class="rentDetails">
                <span class="rupees_icon"><i class="fa fa-inr" aria-hidden="true"></i>
                </span><span class="amount"> {{ads.rentAmount}} </span><span class="month">/Month</span>
              </div> -->
              <div class="adsAddressDetails">
                <div class="adsTitle">{{ads.roomType}} for {{ads.gender}} in {{ads.city}}</div>
                <div class="adsAddress">{{ads.address}}</div>
              </div>
              <span class="knowMore">Click on ads to Know More Details..</span>
            </div>
          </div>
          <div class="card-footer contact-container" style="text-align: center; " *ngIf="ads.adsStatus != 'closed'">
            <ion-button shape="round" [routerLink]="['/pages/advertise/myadvertisementDetails', ads.id]"
              style="float: left; ">
              Detail
            </ion-button>
            <ion-button shape="round" [routerLink]="['/pages/advertise/newAds', ads.id]" style="float: right; ">
              Edit</ion-button>
          </div>
        </div>

      </div>
      <div class="col-12 container-padding" *ngIf="myAds?.length == 0">
        <input type="button" class="full-submit" value="Post New Advertise" routerLink="/pages/advertise/newAds"
          routerDirection="root" />
      </div>
    </div>
  </div>
</ion-content>