<ion-content>
 <div class="closeModal" (click)="closeModal()">
   <span>close</span>
 </div>
  <div class="row no-margin imagePreview-container">
    <div class="col-12 no-padding">
      <!-- <ion-item>
        <ion-label>Modal Popup</ion-label>
      </ion-item> -->
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let images of previewImages">
          <img src='https://aklogical.com/api{{images.path}}'>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>