<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/pages/advertise/imageUpload/{{adsId}}'></ion-back-button>
    </ion-buttons>
    <ion-title >
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
      <span class="tab-title">Gallery</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="main-container full-height">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding uploadImage" *ngIf="image">
        <h4>New Image</h4>
        <!-- <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null"> -->
        <img src="{{image}}" style="width: 100%" [hidden]="lastImage === null">
        
        <input type="text" class="form-control imageTitle" placeholder="Write a Image Title" #imageTitle >

        <div class="newImageAction">
          <ion-button (click)="uploadImage(imageTitle)">Upload</ion-button>
          <ion-button (click)="cancelUpload()">Cancel</ion-button>
        </div>
      </div>
       <div class="col-12 titleGalary">
        <span> Image Gallery</span>
        <ion-button class="done btn-warning" (click)="successAds()">Done</ion-button>
        <!-- <ion-button (click)="openCam()">Open Camera</ion-button>
        <ion-button (click)="openModal()">Open Camera</ion-button> -->

      </div>
      <div class="col-12 container-padding">
        <!-- <img src="{{image}}">

        <img [src]="croppedImagepath" (click)="selectImage()"> -->
        <div class="row no-margin ">
        <div class="col-12 noImages" *ngIf="!gallaryImages?.length" (click)="selectImage()">
          <span>No Images for this Advertise <br> Please Add Images <br/><span class="addNewImage">Click Here to Add Images</span></span>
       
        </div>
          <div class="col-6 image-padding" *ngFor="let images of gallaryImages" (click)="openModal(gallaryImages)">
            <img src='https://aklogical.com/api{{images.path}}'>
            <span class="imageName">{{images.label}}</span>
          </div>
          <!-- <div class="col-6 image-padding" (click)="openModal('image2.jpg')">
            <img src="../../../../assets/images/image2.jpg">
          </div>
          <div class="col-6 image-padding" (click)="openModal('image3.jpg')">
            <img src="../../../../assets/images/image3.jpg">
          </div> -->
        </div>
      </div>

    </div>
  </div>
<div class="addImageTitle"><span>Add Image</span></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="selectImage()">
    <ion-fab-button  style="--background: #eaa90a;">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>