.image-padding{
    padding: 5px !important;
    img {
        border-radius: 5px;
    }
}
.newImageAction {
    position: relative;
    bottom: 50px;
    width: 100%;
    background: rgba(10, 167, 234, 0.44);
    text-align: right;
    margin-bottom: 10px;
}
.uploadImage{
    margin-bottom: 20px;;
}
.imageTitle {
    position: absolute;
}

.titleGalary{
    margin-top: 12px;
    padding: 0;
    span{
        background: #0aa7ea;
    color: #fff;
    padding: 7px 10px;
    }
}
.imageName {
    display: block;
    text-align: center;
    background: #0aa7ea;
    color: #fff;
    padding: 3px 5px;
}
.addImageTitle {
    position: fixed;
    right: 21px;
    bottom: 17px;
    font-size: 7px;
    z-index: 999999;
}
.addNewImage{
    font-size: 13px;
    color: #856404;
}
.noImages{
    text-align: center;
    margin-top: 60PX;
    background: #c4bbbb;
    padding: 11px;
    border-bottom: 10px solid #ac0a1a;
    color: #fff;
    font-size: 18px;
}