<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="Ads?.adsStatus">
      <ion-button class="actButton closeButton" shape="round" (click)="closeAds(adsId)">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="Ads?.adsStatus">
      <ion-button class="actButton" shape="round" [routerLink]="['/pages/advertise/newAds', adsId]">Edit</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!Ads?.adsStatus">
      <ion-button class="actButton closeButton" shape="round">Ads Closed</ion-button>
    </ion-buttons>
    <ion-title class="no-padding">
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
    </ion-title>

    <!-- <ion-title>Room's near me</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-container full-height">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding">
        <div class="card" *ngIf="Ads">
          <div class="card-body no-padding">

         
            <div class="photosCount" *ngIf="Ads.images.length == 0"><span><i
                  class="fa fa-camera"></i>{{Ads.images.length}}</span></div>

            <ng-container *ngIf="Ads.images.length == 0">
              <ion-slides pager="true" [options]="slideOpts" (click)="Ads?.adsStatus?viewGallary():''">
                <ion-slide>
                  <img src="../../../../assets/images/image-not-available.jpg">
                </ion-slide>

              </ion-slides>
              <div class="addImages" (click)="viewGallary()"><span>Add Images</span></div>
            </ng-container>

            <ng-container *ngIf="Ads.images.length > 0">
              <ion-slides pager="true" [options]="slideOpts" (click)="Ads?.adsStatus?viewGallary():''">
                <ion-slide *ngFor="let images of Ads.images">
                  <img src='https://aklogical.com/api{{images.path}}'>
                </ion-slide>
                <div class="viewPhotos" *ngIf="Ads?.adsStatus" (click)="viewGallary()"><span>View Photos</span></div>
              </ion-slides>
            </ng-container>
            <div class="adsDetails">
              <div class="adsAddressDetails">
                <div class="adsTitle">{{Ads.roomType}} for {{Ads.gender}} in {{Ads.area}} {{Ads.city}}</div>
                <div class="adsAddress">{{Ads.address}}</div>
              </div>
              <span class="postedOn">Posted on: - {{Ads.postdate | date: 'dd-MMM-yyyy'}}</span>
            </div>
          </div>
          <div class="rentDetails">
            <div class="rentPane">
              <span class="rentTitle">Rent</span>
              <span class="rentAmount">
                <span class="rupees_icon"><i class="fa fa-inr" aria-hidden="true"></i>
                </span><span class="amount"> {{Ads.rentAmount}} </span><span class="month">/Month</span>
              </span>
            </div>

            <div class="rentPane" style="float: right;">
              <span class="rentTitle">Deposit</span>
              <span class="rentAmount">
                <span class="rupees_icon"><i class="fa fa-inr" aria-hidden="true"></i>
                </span><span class="amount"> {{Ads.depositAmount}} </span>
              </span>
              <span class="negotiable">Negotiable: - {{Ads.rentNegotiable ? 'Yes':'No'}}</span>

            </div>
          </div>

          <div class="adsOverview">
            <div class="row no-margin">
              <div class="col-12" style="margin: 8px 0 20px 0;">
                <div class="row no-margin counterDetails">
                  <div class="col-6"><span class="counterTitle">Visited User</span><span
                      class="serQty">{{Ads.adsvisits.length}}</span></div>
                  <div class="col-6"><span class="counterTitle">Connected User</span><span
                      class="serQty">{{Ads.balcony}}</span></div>
                </div>
              </div>
              <div class="col-12 overViewTitle"><span>Facilities</span></div>
              <div class="col-12">
                <div class="row no-margin serviceAme">
                  <div class="col-6"><span class="serTitle">Bathroom</span><span class="serQty">{{Ads.bathroom}}</span>
                  </div>
                  <div class="col-6"><span class="serTitle">Balcony</span><span class="serQty">{{Ads.balcony}}</span>
                  </div>
                  <div class="col-6"><span class="serTitle">Cupboards</span><span class="serQty">{{Ads.cupboard}}</span>
                  </div>
                  <div class="col-6"><span class="serTitle">Air Conditioner</span><span
                      class="serQty">{{Ads.airConditioner?'Yes':'No'}}</span></div>
                  <div class="col-6"><span class="serTitle">Non-Veg</span><span class="serQty">{{Ads.vegNonveg}}</span>
                  </div>
                  <div class="col-6"><span class="serTitle">Cooking Facility</span><span
                      class="serQty">{{Ads.cooking}}</span></div>
                </div>
              </div>
              <div class="col-12 overViewTitle"><span>Amenities</span></div>
              <div class="col-12">
                <div class="row no-margin">
                  <div class="col-4 amenities-list" *ngIf="Ads.powerBackup">
                    <span><img src="../../../../assets/icon/battery.svg" /></span>
                    <span>Power Backup</span>
                  </div>

                  <div class="col-4 amenities-list">
                    <span><img src="../../../../assets/icon/club.svg"></span>
                    <span>Club</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.gatedSecurity">
                    <span><img src="../../../../assets/icon/gated.svg"></span>
                    <span>Gated Socity</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.airConditioner">
                    <span><img src="../../../../assets/icon/intercom.svg"></span>
                    <span>AC</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.liftService">
                    <span><img src="../../../../assets/icon/lift.svg"></span>
                    <span>Lift</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.sewage">
                    <span><img src="../../../../assets/icon/Sewage.svg"></span>
                    <span>Sewage</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.swimmingPool">
                    <span><img src="../../../../assets/icon/swimming.svg"></span>
                    <span>Swimming pool</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.carParking">
                    <span><img src="../../../../assets/icon/parking.svg"></span>
                    <span>Car Parking</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.twoWheelerParking">
                    <span><img src="../../../../assets/icon/parking.svg"></span>
                    <span>2Wheeler Parking</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.powerBackup">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>Power Backup</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.playground">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>Playground</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.gas">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>Gas Connection</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.houseKeeper">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>House Keeper</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.security">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>Security Gaurd</span>
                  </div>
                  <div class="col-4 amenities-list" *ngIf="Ads.internetConnectivity">
                    <span><img src="../../../../assets/icon/battery.svg"></span>
                    <span>Internet Connectivity</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>