<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding">
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
      <span class="tab-title">Search</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-loading-spinner *ngIf="loading"> </app-loading-spinner>
  <div class="row no-margin search-container">
    <div class="col-12 no-padding">
      <!-- <div class="card"> -->
      <div class="search-cnt">
        <div class="input-container">
          <div class="input-sec roommate">
            <span>Select City</span>
            <select class="form-control" [(ngModel)]="selectedCities" (ngModelChange)="findAreas(selectedCities)">
              <option [ngValue]="citi" [selected]="citi" *ngFor="let citi of city">{{citi}}</option>

            </select>
          </div>
        </div>
        <div class="input-container">
          <div class="input-sec roommate">
            <span>Select Area</span>
            <select class="form-control" [(ngModel)]="selectedArea">
              <option [ngValue]="area.area" [selected]="area" *ngFor="let area of areas | unique">{{area.area}}</option>

            </select>
          </div>
        </div>

      </div>

    </div>
    <div class="col-12 no-padding">
      <!-- <div class="card"> -->
      <div class="search-cnt">
        <div class="search-type" *ngIf="selectedBuildingType !== 'Flat/House'">
          <h6 class="card-title">Room Type</h6>
          <div class="roomType">
            <ion-chip *ngFor="let room of RoomType" [ngClass]="{ 'activIonChip': room.isChecked === true}"
              (click)="selectRoomType(room)">
              <ion-label>{{room.val}}</ion-label>
              <ion-icon name="close" *ngIf="room.isChecked"></ion-icon>
            </ion-chip>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 no-padding">
      <!-- <div class="card"> -->
      <div class="search-cnt">
        <!--  Code for PG/Hostel ********************* -->
        <div class="search-type">
          <h6 class="card-title">Gender</h6>
          <div class="roomDetails">
            <ion-chip 
            *ngFor="let gender of genderType" [ngClass]="{ 'activIonChip': gender.isChecked === true}"  (click)="selectGenderType(gender)">
             <ion-label>{{gender.val}}</ion-label>
             <ion-icon name="close" *ngIf="gender.isChecked"></ion-icon>
           </ion-chip>
          </div>
        </div>
      </div>

    </div>


    <div class="col-12 no-padding">
      <div class="search-cnt">
        <h6 class="card-title">Price Range :
          <div class="filter-title"><span>
              <i class="fa fa-inr" aria-hidden="true"></i> {{priceRange.lower | number:'2.'}} to
              <i class="fa fa-inr" aria-hidden="true"></i> {{priceRange.upper | number:'2.'}}</span></div>
        </h6>
        <div class="range-box">
          <span><i class="fa fa-inr" aria-hidden="true"></i> 800</span>
          <div class="range-text">
            <ion-range mode="md" dualKnobs="true" pin="true" min="800" max="50000" [(ngModel)]="priceRange"
              color="secondary" style="padding-top:0px;">
            </ion-range>
          </div>
          <span><i class="fa fa-inr" aria-hidden="true"></i>50K</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-btn">
    <ion-button expand="full" type="submit" style="margin:0px;" (click)="findRoomMate()">
      <ion-icon slot="start" name="search"></ion-icon>Search RoomMate
    </ion-button>
  </div>
</ion-content>