.toggle-container{
    display: flex;
    align-items: center;
}
.address {
    padding-left: 3px;
}
.edit-address{
    float: right;
    /* margin-top: 4px; */
    cursor: pointer;
    font-size: 25px;
}
.address-card{
    display: block;
    position: relative;
    z-index: 9
}
.addAddress{
    width: auto;
    padding: 5px 9px;
    border-radius: 50px;
    text-align: center;
    background: #01b3ff;
    color: #fff;
    font-size: .7rem;
    display: inline-block;
    float: right;
}
input.save-submit {
    background: #0aa7ea;
    border: 0;
    width: 65%;
    height: 43px;
    border-radius: 52px;
    color: #fff;
    box-shadow: 1px 2px 7px #7bc7e8;
}
input.skip {
    border: 1px solid #d39e00;
    width: 30%;
    height: 43px;
    border-radius: 52px;
    color: #0aa7ea;
    box-shadow: 1px 2px 7px #eaa90a;
    margin-left: 11px;
    background: #fff;
}
.noAddress{
    color:#ccc;
    i{
        margin-left: 10px;
    font-size: 1.3rem;
    }
}
.address-card::after{
    background-image: url('../../../../assets/images/cityback.jpg');
        background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}