.land{
    background-image: url('../../../assets/images/back.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-container{
    height: 50px;
    position: absolute;
    width: 100%;
    top: 50px;
}
// .choice-container{
//     height: auto;
//     min-height: calc(100% - 50px);
// }
.rm_logo{
    width: 185px;
    margin: 0 auto;
}
.slider-container {
    height: calc(100% - 160px);
    position: absolute;
    width: 100%;
    top: 160px;
    z-index: 9
}
.adsVisits{
    position: absolute;
    top: 6px;
    background: #0aa7ea;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 10px;
    display: inline-grid;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    right: 15px;
}
.choice-container {
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -6px 8px #929292;
    background: #fff;
    padding: 20px 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: scroll;
    max-height: calc(100% - 160px);
    z-index: 99;
    padding-bottom: 90px;
}


.action-button {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 22px;
    z-index: 9999;

}

.new-advertise {
    display: inline-block;
    width: auto;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    background: #01b3ff;
    color: #fff;
    font-size: 18px;
    // box-shadow: 0px 0px 10px #0aa7ea;
    margin: 0 7px;
    i{
        padding-right: 5px;
    }

}
button:disabled{
    background: #6bd0fb !important;
    box-shadow: none;
}
.advertiseBtn{
    width: auto;
    padding: 6px;
    border-radius: 50px;
    text-align: center;
    background: #01b3ff;
    color: #fff;
    font-size: 15px;
    // box-shadow: 0px 0px 10px #0aa7ea;
    display: inline-block;
    i{
        padding-right: 5px;
    }
}
.visitorContainer {
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.visitorUsers {
    background: #ffc107;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    span{
        width: 100%;
        font-size: 25px;
        font-weight: 500;
        color: #856404;
    }
}

.postImages{
    // background: url('../../../assets/images/image1.jpg');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
}
.profileContainer {
    position: absolute;
    border: 1.3px dotted;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    padding: 4px;

.profileImages{
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    box-shadow: 0px 0px 12px #6c757d;
}
}
.postDate{
 font-size: 10px;
}

.moreActivity{
    font-size: 13px;
    color: #eaa90a;
}

.referal-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px !important;
    .referIcon{
        font-size: 2rem;
        color: #01b3ff;
        // text-shadow: 0px 2px 5px #01b3ff;
    }
    .referBtn{
        width: auto;
        padding: 6px 15px;
        border-radius: 50px;
        text-align: center;
        background: #eaa90a;
        color: #fff;
        font-size: 1rem;
        // box-shadow: 0px 0px 10px #eaa90a;
        display: inline-block;
    }
    .row{
        display: flex;
        align-items: center;
    }
}

.postTitle{
    background: #0aa7ea;
    color: #fff;
    padding: 4px 12px;
    font-size: 13px;
    display: inline-block;
}