<div class="row no-margin land full-height">
    <div class="col-12 no-padding">
        <div class="profileContainer" routerLink="/pages/profile" routerDirection="root">
            <div class="profileImages" [ngStyle]="{'background-image': 'url(../../../assets/images/user.jpg)'}"></div>
        </div> 
        <div class="row no-margin logo-container">
            <div class="col-12" style="display: flex;">
                <img class="rm_logo" src="../../../assets/images/roommate_logo.svg" />
            </div>
        </div>
      

        <div class="row no-margin choice-container  ">
            <div class="col-12 postVisited">
                <h6>People Visited Your Post</h6>
                <div class="row">
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Abhay</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>K</span></div>
                        <div class="visitorUsersName"><span>Kanchan</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Advik</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Abhay</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>K</span></div>
                        <div class="visitorUsersName"><span>Kanchan</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Advik</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Abhay</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>K</span></div>
                        <div class="visitorUsersName"><span>Kanchan</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="visitorUsers"><span>A</span></div>
                        <div class="visitorUsersName"><span>Advik</span></div>
                    </div>
                </div>
            </div>
            <div class="col-12 postVisited">
                <h6>Your Recent Posts</h6>
                <div class="row">
                    <div class="col-12 noPost">
                        <span>Not yet post any advertise</span>
                    </div>
                     <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image1.jpg)'}">
                        </div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image2.jpg)'}"><span>2</span></div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image1.jpg)'}">
                        </div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image2.jpg)'}"><span>2</span></div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image1.jpg)'}">
                        </div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image2.jpg)'}"><span>2</span></div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image1.jpg)'}">
                        </div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image2.jpg)'}"><span>2</span></div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image1.jpg)'}">
                        </div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div>
                    <div class="visitorContainer col-3">
                        <div class="postImages" [ngStyle]="{'background-image': 'url(../../../assets/images/image2.jpg)'}"><span>2</span></div>
                        <div class="postDate"><span>16/12/2020</span></div>
                    </div> 
                </div>
            </div>
    
            <!-- <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/mypost.svg" routerLink="/pages/advertise/imageGallery" routerDirection="root" />
                </div>
            </div>
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/search_new.svg" routerLink="/pages/advertise/search" routerDirection="root" />
                    <div class="check"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/newpost.svg" routerLink="/pages/advertise/newAds"
                        routerDirection="root" />
                </div>
            </div>
            <div class="col-12">
                <div class="option-select">
                    <img src="../../../assets/images/mypost.svg" routerLink="/pages/advertise/myadvertisement" routerDirection="root" />
                </div>
            </div> -->
        </div>
        <div class="action-button">
            <div class="advertiseBtn" routerLink="/pages/advertise/myadvertisement" routerDirection="root"><i class="fa fa-telegram" aria-hidden="true"></i><span>My Post</span></div>
            <div class="new-advertise" routerLink="/pages/advertise/search" routerDirection="root"><i class="fa fa-search"></i><span>Search Room</span></div>
            <div class="advertiseBtn"  routerLink="/pages/advertise/newAds" routerDirection="root"><i class="fa fa-plus" aria-hidden="true"></i><span>New Post</span></div>
        </div>
    </div>
</div>