<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding">
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
      <span class="tab-title">Login</span>
    </ion-title>

  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="wrapper">
    <div class="main-panel">
      <div class="main-content">
        <div class="container-fluid">
  
          <div class="login-reg-panel back2">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="white-panel">
                <div class="login-pannel">
                  <div class="login-show">
                    <!-- <div class="org-mini-logo">
                      <img src="" class="login_symbol" />
                    </div> -->
                  
                    <div class="rmLogo">
                      <ion-buttons class="backroute" slot="start">
                        <ion-back-button defaultHref="/login"></ion-back-button>
                      </ion-buttons>
                      <img class="rm_header_logo_pannel" src="../../../assets/images/roommate_logo.svg" />
                    </div>

                    <div class="login-title">
                      <h2>Welcome Back</h2>
                      <h6 class="username">{{userData?.username}}</h6>
                    </div>
                    <div class="input-container">
                      <div class="login-sec"><i class="fa fa-mobile" aria-hidden="true"></i>
                        <input type="tel" formControlName="phonenumber" class="form-control phonenumber"
                          placeholder="Enter Email/Mobile No." readonly 
                          [ngClass]="{ 'is-invalid': f.phonenumber.touched && f.phonenumber.invalid && f.phonenumber.errors }" />
                      </div>
                    
                      <!-- <div *ngIf="f.phonenumber.invalid && (f.phonenumber.dirty ||f.phonenumber.touched)" >
                        <div *ngIf="f.phonenumber.errors.required" class="loginValidation">Mobile Number is required.</div>
                        <div *ngIf="f.phonenumber.errors.pattern" class="loginValidation">Please enter valid email address or phone number</div>
                      </div> -->
                      <!-- <span class="loginValidation" *ngIf="loginForm.controls['phonenumber'].hasError('required') && f.phonenumber.invalid &&  (loginForm.controls['phonenumber'].dirty || loginForm.controls['phonenumber'].touched)">This field is required</span>
                      <span class="loginValidation" *ngIf="loginForm.controls['phonenumber'].hasError('pattern') && f.phonenumber.invalid &&  (loginForm.controls['phonenumber'].dirty || loginForm.controls['phonenumber'].touched)">Please enter valid email address or phone number</span>
                   -->
                    </div>
                    <div class="login-sec"><i class="fa fa-key" aria-hidden="true"></i>
                      <input type="password" formControlName="password" class="form-control password"
                        placeholder="Enter Your Password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid && f.password.errors }" />
                    </div>
                    <div  *ngIf="f.password.invalid && (f.password.dirty ||f.password.touched)">
                      <div *ngIf="f.password.errors?.required" class="loginValidation">Please Enter Your Password</div>
                      <div class="loginValidation" *ngIf="f.password.errors?.minlength">Minimum required 6 character.</div>
                    </div>
  
                    <div class="signin-sec">
                      <input type="submit" [disabled]="!loginForm.valid" class="form-control connect" name="Connect"
                        value="Connect">
                       
                        
                    </div>
                    <!-- <div class="col-12">
                      <div class="option-select">
                          <img src="../../assets/images/user.png" routerLink="/map" routerDirection="root"/>
                          <div class="check"></div>
                      </div>
                    </div> -->
  
                    <!-- <div class="signin-sec reg-btn">
                      <span class="reg-panel" style="color: #fff;">If new user then click on register button</span>
  
                      <input type="button" [disabled]="loading" class="form-control" routerLink="/register"
                        name="Register" value="Register">
                    </div> -->
  
  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ion-content>