<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding">
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
      
      <span class="tab-title">{{adsId ? 'Update' : 'New'}} Ads</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-container">
    <div class="row no-margin search-container">
      <div class="col-12 container-padding">

        <form [formGroup]="adpost" (ngSubmit)="onSubmit()">

          <div class="card">
            <div class="card-body">
              <div class="input-container">
                <label class="input-label">Room Avilable For</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <select class="form-control" formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Any">Any</option>
                  </select>
                </div>
              </div>
              <div class="input-container">
                <label class="input-label">Marital status</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <select class="form-control" formControlName="marital">
                    <option value="Bachelor">Bachelor</option>
                    <option value="Married">Married</option>
                    <option value="Any">Any</option>
                  </select>
                </div>
              </div>
              <div class="input-container">
                <label class="input-label">Apartment Type</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <select class="form-control" formControlName="apparttype">
                    <option value="RoomMate">Room</option>
                    <option value="PG/Hostel">PG/Hostel</option>
                    <option value="Flat/House">Flat/House</option>
                  </select>
                </div>
              </div>
              <div class="input-container" *ngIf="adpost.value.apparttype !== 'Flat/House'">
                <label class="input-label">Room Type</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <select class="form-control" formControlName="roomType">
                    <option value="Single Room">Single Room</option>
                    <option value="2 Sharing">2 Sharing</option>
                    <option value="3 Sharing">3 Sharing</option>
                    <option value="4 Sharing">4 Sharing</option>
                  </select>
                </div>
              </div>
              <div class="input-container" *ngIf="adpost.value.apparttype === 'Flat/House'">
                <label class="input-label">BHK Type</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <select class="form-control" formControlName="bhkType">
                    <option value="1HK">1HK</option>
                    <option value="1BHK">1BHK</option>
                    <option value="2BHK">2BHK</option>
                    <option value="3BHK">3BHK</option>
                    <option value="4BHK">4BHK</option>
                    <option value="4BHK+">4BHK+</option>
                  </select>
                </div>
              </div>
              <div class="input-container radio-option">
                <label class="input-label">Gated Security</label>
                <ion-radio-group formControlName="gatedSecurity">
                  <ion-radio slot="start" value="Yes" name="Yes"></ion-radio>
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="No" name="No"></ion-radio>
                  <ion-label>No</ion-label>
                </ion-radio-group>
              </div>
              <div class="input-container radio-option">
                <label class="input-label">Non-Veg Allow?</label>
                <ion-radio-group formControlName="vegNonveg">
                    <ion-radio slot="start" value="Yes" name="Yes"></ion-radio>
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="No" name="No"></ion-radio>
                    <ion-label>No</ion-label>
                </ion-radio-group>
              </div>
              <div class="input-container radio-option">
                <label class="input-label">Cooking Facility</label>
                <ion-radio-group formControlName="cooking">
                    <ion-radio slot="start" value="Yes" name="Yes"></ion-radio>
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="No" name="No"></ion-radio>
                    <ion-label>No</ion-label>
                </ion-radio-group>
              </div>
              <div class="input-container">
                <label class="input-label">Bathroom(s)</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <input type="number" class="form-control" formControlName="bathroom" placeholder="No. of Bathroom" />
                </div>
              </div>
              <div class="input-container">
                <label class="input-label">Balcony(s)</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <input type="number" class="form-control" formControlName="balcony" placeholder="No. of Balcony" />
                </div>
              </div>
              <div class="input-container">
                <label class="input-label">Cupboard(s)</label>
                <div class="input-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <input type="number" class="form-control" formControlName="cupboard" placeholder="No. of Cupboard" />
                </div>
              </div>
              <!-- <ion-button expand="full" type="submit" shape="round">{{adsId ? 'Update' : 'Save'}} & Continue
              </ion-button> -->
              <input type="submit" class="full-submit" value="{{adsId ? 'Update' : 'Save'}} & Continue" />

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>