
.search-container {
    height: 100%;
    background-color: #fff;
    .search-box {
      border: 1px solid #ccc;
      height: 45px;
      border-radius: 65px;
      box-shadow: 3px 5px 14px #ccc;
      .search-icon {
        height: 100%;
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        padding: 8px;
        img {
          height: 26px;
        }
      }
      .search-text {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        padding: 3px;
        width: 73%;
        .search-area {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
      .location {
        font-size: 1.5rem;
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        padding: 3px;
        color: #807a7a;
      }
    }
  }
  .filter-title {
    padding: 0 8px 5px 2px;
    color: #d39e00;
    display: inline-block;
  }
  .range-knob{
    --knob-background: #eaa90a !important;
  }
  .range-box {
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 65px;
    box-shadow: 3px 5px 14px #ccc;
    padding: 0 11px;
    .range-text {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      padding: 3px;
      width: 72%;
    }
  }
  .input-container {
    margin-bottom: 0.5rem;
  }
  .bottom-btn {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 9;
    ion-button {
      margin: 0px;
      height: 50px;
      font-size: 17px;
      color: #fff;
      --background: #0aa7ea;
      --background-focused: #0aa7ea-dark;
      --background-hover: #0aa7ea;
      box-shadow: 1px 2px 7px #7bc7e8;
    }
  }
  .search-cnt {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-bottom: 65px;
  }
  .roomType {
  //   text-align: center;
    ion-chip {
      width: 45%;
      text-align: center;
      ion-label {
        text-align: center;
        width: 100%;
      }
    }
  }
  .flatType{
      ion-chip {
          width: 30%;
          text-align: center;
          ion-label {
            text-align: center;
            width: 100%;
          }
        }
  }
  .activIonChip{
      --background: #eaa90a;
      color: #fff;
  }
  