
.profile-container{
    position: relative;
    height: 154px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-image: url('../../../../assets/images/back.png');
    background-position: top;
    background-size: contain;
    .row{
        display: flex;
    align-items: center;
    vertical-align: middle;
    }
}
.editProfileBtn{
    width: auto;
    padding: 6px 26px;
    border-radius: 50px;
    text-align: center;
    background: #ffc107;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
}

.profileContainer {
    position: relative;
    border: 1.3px dotted;
    border-radius: 50%;
    padding: 4px;
    width: 100px;
    height: 100px;
  
    .profileImages{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        padding: 6px;
        i{
            color: #ffc107;
            position: absolute;
            bottom: 0px;
            right: 0px;
            border: 2px solid #6c757d;
            padding: 0px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            text-align: center;
            align-items: center;
            display: inline-grid;
            vertical-align: middle;
            background: rgba(255, 255, 255, 0.8392156862745098);

        }
    }
}

.profileDetails-container{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .details{
        color: #6f6d6d;
        i{
            margin-right: 10px;
            font-size:1.4rem;
            color: #108ec3;
        }
    }
}
.referal-container .row, .account-container .row{
    display: flex;
    align-items: center;
}
.referIcon{
    font-size: 1.4rem;
    color: #01b3ff;
    // text-shadow: 0px 2px 5px #01b3ff;
}
.user-profile{
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 3px 5px 17px #dedbdb;
    padding: 3px 5px !important;
}
.referal-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 !important;
}
.userName {
    font-size: 1.3rem;
    letter-spacing: 3px;
}
.userContact {
    font-size: 1.3rem;
    letter-spacing: 5px;
}
.account-container{
    padding: 10px 0px !important;
    .details{
        padding: 10px 0px !important;
        .edit{
            font-size: 1.5rem;
            color: #ccc;
        }
    }
}
.referBtn{
    width: auto;
    padding: 6px 15px;
    border-radius: 50px;
    text-align: center;
    background: #01b3ff;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0px 0px 10px #0aa7ea;
    display: inline-block;
}

.noEmail{
    color: red;
}