.amenities-item{
    img{
        margin-right: 10px;
       width: 26px;
    }
}
input.skip {
    border: 1px solid #d39e00;
    width: 30%;
    height: 43px;
    border-radius: 52px;
    color: #0aa7ea;
    box-shadow: 1px 2px 7px #eaa90a;
    margin-left: 11px;
    background: #fff;
}