<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages"></ion-back-button>
    </ion-buttons> -->
    <ion-title>
      <img class="rm_header_logo" src="../../../assets/images/roommate_logo.svg" />
    </ion-title>
    <!-- <ion-title>{{adsId ? 'Update' : 'Add'}} Amenities</ion-title> -->
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <div class="main-container">
      <div class="row no-margin search-container">
        <div class="col-12 container-padding">
            <form (ngSubmit)="onSubmit()">

          <div class="card">
            <div class="card-body">
              <div class="input-container">
                <label class="input-label">Other Amenities</label>
                <ion-item class="amenities-item" *ngFor="let entry of form">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i><ion-label>{{entry.val}}</ion-label>
                  <ion-checkbox slot="end" mode="ios" [(ngModel)]="entry.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                </ion-item>
              </div>
              <input type="submit" class="full-submit" [ngStyle]="adsDetails?.adsStatus == 'pending' && adsId ? {'width':'65%'} : {'width':'100%'}" value="{{adsDetails?.adsStatus == 'pending' && adsId ? 'Update' : 'Save'}} & Continue" />
              <input *ngIf="adsDetails?.adsStatus == 'pending' && adsId" type="button" class="skip" value="Skip" [routerLink]="['/pages/advertise/amenities', adsId]"/>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>