<div class="wrapper">
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">

        <div class="login-reg-panel back2">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="white-panel">
              <div class="login-pannel">
                <div class="login-show">
                  <!-- <div class="org-mini-logo">
                    <img src="" class="login_symbol" />
                  </div> -->
                  <div class="login-title">
                    <img class="rm_header_logo_pannel" src="../../../assets/images/roommate_logo.svg" />
                    <span>Login / Create Account</span>
                  </div>
                  <div class="login_img">
                    <img src="../../../assets/images/back.png" />
                  </div>
                  <div class="input-container">
                    <div class="login-sec"><i class="fa fa-mobile" aria-hidden="true"></i>
                      <input type="tel" formControlName="phonenumber" class="form-control phonenumber"
                        placeholder="Enter Email/Mobile No." 
                        [ngClass]="{ 'is-invalid': f.phonenumber.touched && f.phonenumber.invalid && f.phonenumber.errors }" />
                    </div>
                  
                    <!-- <div *ngIf="f.phonenumber.invalid && (f.phonenumber.dirty ||f.phonenumber.touched)" >
                      <div *ngIf="f.phonenumber.errors.required" class="loginValidation">Mobile Number is required.</div>
                      <div *ngIf="f.phonenumber.errors.pattern" class="loginValidation">Please enter valid email address or phone number</div>
                    </div> -->
                    <!-- <span class="loginValidation" *ngIf="loginForm.controls['phonenumber'].hasError('required') && f.phonenumber.invalid &&  (loginForm.controls['phonenumber'].dirty || loginForm.controls['phonenumber'].touched)">This field is required</span>
                    <span class="loginValidation" *ngIf="loginForm.controls['phonenumber'].hasError('pattern') && f.phonenumber.invalid &&  (loginForm.controls['phonenumber'].dirty || loginForm.controls['phonenumber'].touched)">Please enter valid email address or phone number</span>
                 -->
                  </div>
                  <!-- <div class="login-sec"><i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" formControlName="password" class="form-control"
                      placeholder="Enter Your Password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid && f.password.errors }" />
                  </div>
                  <div  *ngIf="f.password.invalid && (f.password.dirty ||f.password.touched)">
                    <div *ngIf="f.password.errors?.required" class="loginValidation">Please Enter Your Password</div>
                    <div class="loginValidation" *ngIf="f.password.errors?.minlength">Minimum required 6 character.</div>
                  </div> -->

                  <div class="signin-sec">
                    <!-- <input type="submit" [disabled]="!loginForm.valid" class="form-control connect" name="Connect"
                      value="Connect"> -->
                      <div class="login-cont">
                        <button type="submit" [disabled]="!loginForm.valid">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                      </div>
                      
                  </div>
                  <!-- <div class="col-12">
                    <div class="option-select">
                        <img src="../../assets/images/user.png" routerLink="/map" routerDirection="root"/>
                        <div class="check"></div>
                    </div>
                  </div> -->

                  <!-- <div class="signin-sec reg-btn">
                    <span class="reg-panel" style="color: #fff;">If new user then click on register button</span>

                    <input type="button" [disabled]="loading" class="form-control" routerLink="/register"
                      name="Register" value="Register">
                  </div> -->


                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>